
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    /* code nga hasol */
    body {
      background-color: #fafafa;
      color: #333;
    }

    /* heyy yoww*/
    a {
      text-decoration: none;
      color: inherit;
    }

    /* escob */
    header {
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    /* practice push */
    nav {
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
    }

    .logo {
      font-size: 2rem;
      font-weight: bold;
      color: #f07218;
    }

    .nav-links {
      display: flex;
      gap: 1.5rem;
    }

    .nav-links a:hover {
      color: #3498db;
    }

    .hero {
      height: 70vh;
      background-image: url(550300394_2265025553944965_61886492868792241_n.jpg);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
      position: relative;
    }

    .hero::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }

    .hero-content {
      position: relative;
      z-index: 1;
    }

    .hero-content h1 {
      font-size: 5rem;
      margin-bottom: 1rem;
    }

    .products {
      max-width: 1200px;
      margin: 3rem auto;
      padding: 0 2rem;
    }

    .products h2 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
      color: #2c3e50;
    }

    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 2rem;
    }

    .product {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease;
    }

    .product:hover {
      transform: translateY(-5px);
    }

    .product img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .product-info {
      padding: 1rem;
    }

    .product-info h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    .product-info p {
      color: #777;
      font-size: 0.9rem;
      margin-bottom: 0.75rem;
    }

    .price {
      font-size: 1.1rem;
      font-weight: bold;
      color: #3498db;
    }

    .btn {
      display: inline-block;
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
      background: #2ecc71;
      color: #fff;
      border-radius: 20px;
      transition: 0.3s;
      font-size: 0.9rem;
    }

    .btn:hover {
      background: #27ae60;
    }


    footer {
      background: #2c3e50;
      color: #fff;
      text-align: center;
      padding: 1.5rem;
      margin-top: 3rem;
    }

    footer p {
      font-size: 0.9rem;
    }
 


    
